
.display{
    display: flex;
}
.cen {
    margin-top: 15px;

}
.cen button {

    display: block; 
    margin-left: 3px;
    margin-top: 5px;
}
.section{
     width: 1px;
     background-color:gray;
     height: 2px;
}
.section2{
    width: 2px;
    height: 20px;
    background-color: gray;
}
.section3{
    width: 1410px;
    height: 2px;
    background-color: gray;
    margin-top: 20px;
    
}
.section4{
    width: 1px;
    height: 130px;
    background-color: gray;
    margin-top: 10px;
    
  
}
.font{
    margin-top: 5px;
    width: 50px;
    height: 50px;
}
.section5{
    width: 1px;
    height: 110px;
    background-color: gray;
    margin-top: 10px;
}
.section6{
    margin-top: 20px;
    margin-left: 10px;
}
.section7{
    height: 1px;
    background-color: gray;
    width:1400px;
    
}

.section9{
    width: 16px;
    height: 16px;
    background-color: white;
    margin-left: 3px;
    margin-top: 20px;
    border-style: solid;
    border-width:1px ;
    border-color: black;
   
   }
   .section8{
    width: 16px;
    height: 16px;
    background-color: black;
    margin-left: 3px;
    margin-top: 20px;
    border-style: solid;
    border-width:1px ;
    border-color: black;
   
   }
   .section10{
    width: 16px;
    height: 16px;
    background-color: red;
    margin-left: 3px;
    margin-top: 20px;
    border-style: solid;
    border-width:1px ;
    border-color: black;
   
   }
   .section11{
    width: 16px;
    height: 16px;
    background-color: yellow;
    margin-left: 3px;
    margin-top: 20px;
    border-style: solid;
    border-width:1px ;
    border-color: black;
   
   }
   .section12{
    width: 16px;
    height: 16px;
    background-color: green;
    margin-left: 3px;
    margin-top: 20px;
    border-style: solid;
    border-width:1px ;
    border-color: black;
   
   }
   .section13{
    width: 16px;
    height: 16px;
    background-color: brown;
    margin-left: 3px;
    margin-top: 20px;
    border-style: solid;
    border-width:1px ;
    border-color: black;
   
   }
   .section16{
    width: 16px;
    height: 16px;
    background-color:tomato ;
    margin-left: 3px;
    margin-top: 20px;
    border-style: solid;
    border-width:1px ;
    border-color: black;
   
   }
   .section17{
    width: 16px;
    height: 16px;
    background-color:teal ;
    margin-left: 3px;
    margin-top: 20px;
    border-style: solid;
    border-width:1px ;
    border-color: black;
   
   }
   .section18{
    width: 16px;
    height: 16px;
    background-color:lemonchiffon ;
    margin-left: 3px;
    margin-top: 20px;
    border-style: solid;
    border-width:1px ;
    border-color: black;
   
   }
   .section19{
    width: 16px;
    height: 16px;
    background-color:aqua ;
    margin-left: 3px;
    margin-top: 20px;
    border-style: solid;
    border-width:1px ;
    border-color: black;
   
   }
   .section14{
    width: 16Px;
    height: 16px;
    background-color: transparent;
    margin-left: 3px;
    margin-top: 20px;
    border-style: solid;
    border-width:1px ;
    border-color: black;
   
   }
   .section15{
    width: 16px;
    height: 16px;
    background-color: blue;
    margin-left: 3px;
    margin-top: 20px;
    border-style: solid;
    border-width:1px ;
    border-color: black;
}
.section20{
    width: 16px;
    height: 16px;
    background-color: rosybrown;
    margin-left: 3px;
    margin-top: 20px;
    border-style: solid;
    border-width:1px ;
    border-color: black;
}
.section21{
    width: 16px;
    height: 16px;
    background-color: royalblue;
    margin-left: 3px;
    margin-top: 20px;
    border-style: solid;
    border-width:1px ;
    border-color: black;
}
.section37{
    width: 16px;
    height: 16px;
    background-color: aliceblue;
    margin-left: 3px;
    margin-top: 20px;
    border-style: solid;
    border-width:1px ;
    border-color: black;
}
.section22{
    width: 16px;
    height: 16px;
    background-color: turquoise;
    margin-left: 3px;
    margin-top: 20px;
    border-style: solid;
    border-width:1px ;
    border-color: black;
}
.section23{
    width: 16px;
    height: 16px;
    background-color: thistle;
    margin-left: 3px;
    margin-top: 20px;
    border-style: solid;
    border-width:1px ;
    border-color: black;
}
.section24{
    width: 16Px;
    height: 16px;
    background-color: pink;
    margin-left: 3px;
    margin-top: 20px;
    border-style: solid;
    border-width:1px ;
    border-color: black;
}
.section25{
    width: 16px;
    height: 16px;
    background-color: palegreen;
    margin-left: 3px;
    margin-top: 20px;
    border-style: solid;
    border-width:1px ;
    border-color: black;
}
.section26{
    width: 16px;
    height: 16px;
    background-color: peru;
    margin-left: 3px;
    margin-top: 20px;
    border-style: solid;
    border-width:1px ;
    border-color: black;
}
.section27{
    width: 16px;
    height: 16px;
    background-color: powderblue;
    margin-left: 3px;
    margin-top: 20px;
    border-style: solid;
    border-width:1px ;
    border-color: black;
}
.section28{
    width: 16px;
    height: 16px;
    background-color: orange;
    margin-left: 3px;
    margin-top: 20px;
    border-style: solid;
    border-width:1px ;
    border-color: black;
}
.section29{
    width: 16px;
    height: 16px;
    background-color: orangered;
    margin-left: 3px;
    margin-top: 20px;
    border-style: solid;
    border-width:1px ;
    border-color: black;
}
.section30{
    width: 16px;
    height: 16px;
    background-color: orchid;
    margin-left: 3px;
    margin-top: 20px;
    border-style: solid;
    border-width:1px ;
    border-color: black;
}
.section31{
    width: 16px;
    height: 16px;
    background-color: olive;
    margin-left: 3px;
    margin-top: 20px;
    border-style: solid;
    border-width:1px ;
    border-color: black;
}
.section32{
    width: 16px;
    height: 16px;
    background-color: oldlace;
    margin-left: 3px;
    margin-top: 20px;
    border-style: solid;
    border-width:1px ;
    border-color: black;
}
.section33{
    width: 16px;
    height: 16px;
    background-color: chocolate;
    margin-left: 3px;
    margin-top: 20px;
    border-style: solid;
    border-width:1px ;
    border-color: black;
}
.section34{
    width: 16px;
    height: 16px;
    background-color: cornflowerblue;
    margin-left: 3px;
    margin-top: 20px;
    border-style: solid;
    border-width:1px ;
    border-color: black;
}
.section35{
    width: 16px;
    height: 16px;
    background-color: chartreuse;
    margin-left: 3px;
    margin-top: 20px;
    border-style: solid;
    border-width:1px ;
    border-color: black;
}
.section36{
    width: 16px;
    height: 16px;
    background-color: crimson;
    margin-left: 3px;
    margin-top: 20px;
    border-style: solid;
    border-width:1px ;
    border-color: black;
}

.dropbtn {
    background-color: black;
    color: white;
    height: 22px;
    width: 40px;
    border: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 15px;  
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content button {
    color: white;
    padding: 12px 16px;
    width: 40px;
    text-decoration: none;
    display: block;
    background-color: black;
  }
  .dropdown-content button:hover {background-color: white; color: black;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: black;}

.custom-context{
    position: fixed;
    background: #111;
    width: 150px;
    display: none;
    z-index: 10000000
    

}
.custom-context ul{
    padding: 0;
    margin: 0;
}
.custom-context ul li {
    list-style-type:none ;
    padding: 10px 14px;
    border-bottom: 1px solid rgb(46, 46, 46);
    color: #555;
    width: 100%;
    cursor: pointer;
    transition: 0.2 all;
}
.custom-context ul li{
    background-color: rgb(46, 46, 46);
    color: #fff;
}

.button{
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    display: inline-block;
    border: none;
}

.button:hover{
    background-color: #b9b8b8;
}
.button:disabled {
    background-color: #ffffff;
    
}

.button:active {
    background-color: #777777;
}

.appear2:hover +.hide{
    background-color: black;
    color: white;
}
.hide{
    display: none;
   }
   .appear:hover + .hide{
       display: block;
       background-color: black;
       color: white;
    }

#copy{
    color: #111;
} 
#paste{
    color: #111;

}
#delete{
    color: #111;
}

#copy2{
    color: #111;
} 
#paste2{
    color: #111;

}
#delete{
    color: #111;
}

#fill{
    color: #111;

}

#container{
    cursor: crosshair;
}

