
.display{
    display: flex;
}

.section{
     width: 1px;
     background-color:gray;
     height: 2px;
}
.section2{
    width: 2px;
    height: 20px;
    background-color: gray;
}
.section3{
    height: 2px;
    background-color: gray;
    margin-top: 20px;
    
}

.section5{
    width: 1px;
    height: 110px;
    background-color: gray;
    margin-top: 10px;
}

.section7{
    height: 1px;
    background-color: gray;
    
}

.button{
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    display: inline-block;
    border: none;
}

.button:hover{
    background-color: #b9b8b8;
}
.button:disabled {
    background-color: #ffffff;
    
}

.button:active {
    background-color: #777777;
}


#container{
    cursor: crosshair;
}

