
<div class="display" >
     <div class="section display"><div class=""><div class="display"><div class="section7" style="margin-top: 145px;"> <div id="container"></div></div></div></div></div>
    
     
     <div class="section2">
        <div class="section3 display">
            <div>
                <button  style="margin-top: 15px;" class="button">
                    <img id="fill" src="assets/photos/START.png"style=" margin-left: 10px;height: 62px;" class="creation">
                    <p style="margin-left: 10px;">Start</p>
                </button>
            </div>
            <div >
                <button  style="margin-top: 15px;" class="button"disabled>
                    <img id="fill" src="assets/photos/Replay.png"style=" margin-left: 10px;height: 62px;" class="creation">
                    <p style="margin-left: 10px;" >Replay</p>
                </button>

            </div> 

             <div>
                    <button (click)="clear()" style="margin-top: 15px;" class="button" id="draw" >
                        <img id="fill" src="assets/photos/new.png"style=" margin-left: 10px;height: 62px;" class="creation">
                        <p style="margin-left: 10px;" >New</p>

                    </button>
        
             </div>

            <div class="section5" style="margin-left: 10px;">

            </div>
         <div class="display">
             <div>
                <button (click)='create("Machine")' style="margin-top: 15px;" class="button" id="draw" >
                    <img id="fill" src="assets/photos/Machine.png"style=" margin-left: 10px;height: 62px;" class="creation">
                <p style="margin-left: 10px;" >Machine</p>

                </button>
           </div>
           <div> <button (click)='create("Queue")' style="margin-top: 15px;" class="button" id="draw" >
            <img id="fill" src="assets/photos/queue.png"style=" margin-left: 10px;height: 62px;" class="creation">
            <p style="margin-left: 10px;" >Queue</p>

        </button>
        </div>
        <div> <button (click)='arrowButton()'  style="margin-top: 15px;" class="button" id="arrow" >
            <img id="fill" src="assets/photos/line.png"style=" margin-left: 10px;height: 62px;" class="creation">
            <p style="margin-left: 10px;" >Arrow</p>

        </button>
        </div>
 </div>
         
        <div class="section5 " style="margin-left: 10px;">
        
        </div>
 
    
    
</div>